.box--textarea {
	margin-top: 0.2rem;
	padding-bottom: 1rem;
	&__editor,
	&__translate {
		width: 100%;
		height: 100%;
		resize: none;
		border: 1px solid gray;
		overflow: auto;
		outline: none;
		height: 50rem;
		padding: 2rem;
	}
	&__editor:focus,
	&__translate:focus {
		border: 1px solid black;
	}
	&__text {
		margin-bottom: 2rem;
		text-align: center;
		font-size: 2rem;
		font-style: italic;
		font-weight: 300;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}
}

.darkTheme {
	background-color: #2b2929;
	color: white;
}
.lightTheme {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

.copyIcon {
	position: absolute;
	z-index: 2;
	top: 3%;
	right: 2%;
	cursor: pointer;
	border: none;
	.fa-copy {
		color: $primary-color;
	}
	.fa-paste {
		color: green;
	}
}

.copyIconText::before {
	content: "Copied !";
	position: absolute;
	right: 120%;
	color: green;
}
