@import "../assets/_reset.scss";
@import "../assets/_variables.scss";

html {
	font-size: $initial-font-size;
}

body {
	font-family: $main-font;
	color: $primary-color;
	transition: background 0.2s linear;
}
#dark {
	background-color: $dark-background;
}
#light {
	background-color: $light-background;
}
.container {
	width: 90%;
	margin: 0 auto;
}

@import "./_header";
@import "./_menu.scss";
@import "./box-panel";
@import "./box-textarea";
@import "./drag-drop-list";

.markdown-body {
	color-scheme: black;
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

