[aria-posinset="7"] + .p-treenode-children li [aria-posinset] span::after,
[aria-posinset="7"] + .p-treenode-children li [aria-posinset] span::before{
	margin-top: 1rem;
}

[aria-posinset="7"] + .p-treenode-children li [aria-posinset] span::before {
    content: "";
	position: absolute;
	width: 0.4rem;
    background-color: gray;
}
[aria-posinset="7"] + .p-treenode-children li [aria-posinset] span::after {
	margin-bottom: 1.5rem;
	margin-bottom: 1.5rem;
}

/// classic blockquotes
[aria-posinset="7"] + .p-treenode-children li [aria-posinset="1"] span::after {
	content: "Lorem ipsum dolor sit\a\a Donec sit amet nisl";
	margin-left: 4rem;
}
[aria-posinset="7"] + .p-treenode-children li [aria-posinset="1"] span::before {
	height: 6rem;
	bottom: 1.6rem;
	left: 2rem;
}


///  blockquote in blockquote
[aria-posinset="7"] + .p-treenode-children li [aria-posinset="2"] span::after {
	content: "Lorem ipsum dolor sit\a      Donec sit amet nisl\a versions of Lorem ";
	line-height: 4rem;
    border-left: 0.4rem solid gray;
	padding-left: 1rem;
}
[aria-posinset="7"] + .p-treenode-children li [aria-posinset="2"] span::before {
	height: 4rem;
	bottom: 5.6rem;
	left: 5rem;
}



