[aria-posinset="8"] + .p-treenode-children li [aria-posinset] span::after {
	content: "";
	display: block;
	height: 10rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	max-width: 21rem;
}

[aria-posinset="8"] + .p-treenode-children li [aria-posinset="2"] span::after {
	background-image: url(https://docs.github.com/assets/cb-4503/mw-1000/images/help/writing/table-basic-rendered.webp);
}
[aria-posinset="8"] + .p-treenode-children li [aria-posinset="1"] span::after {
	background-image: url(https://docs.github.com/assets/cb-3202/mw-1000/images/help/writing/table-escaped-character-rendered.webp);
}
