[aria-posinset="1"] + .p-treenode-children li [aria-posinset="1"] span {
	font-size: 3.2rem;
}
[aria-posinset="1"] + .p-treenode-children li [aria-posinset="2"] span {
	font-size: 2.4rem;
}
[aria-posinset="1"] + .p-treenode-children li [aria-posinset="3"] span {
	font-size: 1.872rem;
}
[aria-posinset="1"] + .p-treenode-children li [aria-posinset="4"] span {
	font-size: 1.6rem;
}
[aria-posinset="1"] + .p-treenode-children li [aria-posinset="5"] span {
	font-size: 1.328rem;
}
[aria-posinset="1"] + .p-treenode-children li [aria-posinset="6"] span {
	font-size: 1.072rem;
}
