.p-treenode-label {
	position: relative;
}

/// universal style before for anchor
[aria-posinset="5"] + .p-treenode-children li [aria-posinset] span::before {
	content: "consete";
	position: absolute;
	right: 5rem;
	bottom: 0.3rem;
}

/// classic anchor
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="1"] span::after {
	content: "Lorem ipsum,";
}
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="1"] span::before {
	color: blue;
}

/// italic anchor
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="2"] span::after {
	content: "Lorem ipsum,";
}
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="2"] span::before {
	color: blue;
	font-style: italic;
}

/// italic anchor
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="3"] span::after {
	content: "Lorem ipsum,";
}
[aria-posinset="5"] + .p-treenode-children li [aria-posinset="3"] span::before {
	color: rgb(0, 0, 255);
	background-color: rgb(175, 170, 170);
}
