@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,700&display=swap");

$main-font: "Ubuntu", sans-serif;

//TODO: background
$light-background: #e8f1f2;
$dark-background: #13293d;
////////////

//TODO: fonts color editor
$dark-color: #13293d;
$light-color: #e8f1f2;

//TODO: fonts color text
$primary-color: #1b98e0;

//TODO: initial font size
$initial-font-size: 10px;
////

//TODO: buttons
$primary-background-buttons: #1b98e0;
///
