@import "./reset.scss";
@import "./variables";

html {
	font-size: $initial-font-size;
}

body {
	font-family: $main-font;
	color: $primary-color;
	transition: background 0.2s linear;
}
.dark {
	background-color: $dark-background;
	min-height: 100vh;
}
.light {
	background-color: $light-background;
	min-height: 100vh;
}
.container {
	width: 90%;
	margin: 0 auto;
}

@import "./header.module";
// @import "./menu";
@import "./box-panel";
@import "./box-textarea";
@import "./list-tree/data-tree";
@import "./popup/popup";
